<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" href="#">Logo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <a class="nav-link" routerLink="/">Home

          <span class="sr-only">(current)</span>

        </a>

      </li>

      <li class="nav-item">

        <a class="nav-link" routerLink="/yourtravels">Twoje podróże</a>

      </li>

      <li class="nav-item">

        <a class="nav-link" routerLink="/youraccount">Twoje konto</a>

      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">

      <button class="btn btn-success" routerLink="/login">Sign in/Register</button>

    </form>

  </div>

</nav>
