<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>Twoje podróże</h1>
    </div>
    <div class="col-2">
        <app-modal-add-travel></app-modal-add-travel>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">L.p</th>
                <th scope="col">Państwo</th>
                <th scope="col">Miasto</th>
                <th scope="col">Data od</th>
                <th scope="col">Data do</th>
                <th scope="col">Koszt</th>
                <th scope="col">Akcja</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let travel of travels; let i = index">

                <th scope="row">{{ i + 1 }}</th>

                <td>{{ travel.country }}</td>

                <td>{{ travel.city }}</td>

                <td>{{ travel.dateStart}}</td>

                <td>{{ travel.dateEnd }}</td>

                <td>{{ travel.cost }}</td>

                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-warning" (click)="onEdit(i)">Edit</button>
                      <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                    </div>
                </td>

              </tr>

            </tbody>
          </table>
    </div>

  </div>





</div>
