<div class="container">
  <div class="row">
    <div class="col">
        <app-sign-in></app-sign-in>
    </div>
    <div class="col">
        <app-register></app-register>
    </div>
  </div>
</div>






