<form #registerForm="ngForm" class="form-signin" (ngSubmit)="onSubmit(name.value, lastname.value, city.value, datebirth.value, email.value, passwordOne.value, passwordTwo.value)">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    <label for="inputName" class="sr-only">Imię</label>
    <input type="text1" #name ngModel  name="name" id="inputName" class="form-control" placeholder="Imię" required>

    <label for="inputLastName" class="sr-only">Nazwisko</label>
    <input type="text" #lastname ngModel name="lastname" id="inputLastName" class="form-control" placeholder="Nazwisko" required>

    <label for="inputCity" class="sr-only">Miasto</label>
    <input type="text" #city ngModel name="city" id="inputCity" class="form-control" placeholder="Miasto" required>

    <label for="inputDate" class="sr-only">Data ur</label>
    <input type="date" #datebirth ngModel name="datebirth" id="inputDate" class="form-control" placeholder="Data ur" required>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" #email ngModel name="email" id="inputEmail" class="form-control" placeholder="Email address" required>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password2" #passwordOne ngModel name="passwordOne" id="inputPassword" class="form-control" placeholder="Password" required>

    <label for="inputPassword2" class="sr-only">Password again</label>
    <input type="password" #passwordTwo ngModel name="passwordTwo" id="inputPassword2" class="form-control" placeholder="Password again" required>

    <button class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.valid" type="submit">Register</button>

  </form>
