<div class="container">
  <div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card text-center" style="width: 70%;">
                    <div class="card-header">
                      <img class="rounded-circle" src="http://bi.gazeta.pl/im/b7/4f/15/z22343863Q,Stare-amerykanskie-samochody-sa-wizytowka-Kuby.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                              <label for="login" class="col-sm-4 col-form-label">Login</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" value="WikaWika">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                              <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-8">
                                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                              </div>
                              <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-4 col-form-label">W justTravel</label>
                                  <div class="col-sm-8">
                                    <input type="text" readonly class="form-control" id="inputPassword" placeholder="2 dni">
                                  </div>
                                </div>

                            <div class="row right">
                              <button class="btn btn-success">Edytuj</button>
                            </div>
                          </form>
                    </div>
                  </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
              Twoje dane
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                      <label for="login" class="col-sm-4 col-form-label">Imię</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" value="Wiktoria">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">Nazwisko</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control"  value="Poślednicka">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Data urodzenia</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" value="22.03.1991">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Miasto</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" value="Wrocław">
                          </div>
                        </div>
                    <div class="row right">
                      <button class="btn btn-success">Edytuj</button>
                    </div>
                  </form>
            </div>

          </div>


    </div>
  </div>
</div>




