<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Dodaj nową podróż</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()" class="container was-validated">
      <div class="form-group" [ngClass]="{
          'has-danger': country.invalid,
          'has-success': country.valid
        }">
        <label>Państwo</label>
        <input type="text" class="form-control" formControlName="country" required>
        <div class="invalid-feedback">
          Państwo jest wymagane!
        </div>
      </div>

      <div class="form-group" [ngClass]="{
        'has-danger': city.invalid,
        'has-success': city.valid
      }">
      <label>Miasto</label>
      <input type="text" class="form-control" formControlName="city" required>
      <div class="invalid-feedback">
        Miasto jest wymagane!
      </div>
    </div>

    <div class="form-group" [ngClass]="{
      'has-danger': startDate.invalid,
      'has-success': startDate.valid
    }">
    <label>Data rozpoczęcia</label>
    <input type="text" class="form-control" formControlName="startDate" required>
    <div class="invalid-feedback">
      Data rozpoczęcia jest wymagana!
    </div>
  </div>

  <div class="form-group" [ngClass]="{
    'has-danger': endDate.invalid,
    'has-success': endDate.valid
  }">
  <label>Data konca</label>
  <input type="text" class="form-control" formControlName="endDate"  required>
  <div class="invalid-feedback">
    Data końca jest wymagana!
  </div>
</div>

<div class="form-group" [ngClass]="{
  'has-danger': cost.invalid,
  'has-success': cost.valid
}">
<label>Koszt</label>
<input type="text" class="form-control" formControlName="cost"  required>
<div class="invalid-feedback">
  Koszt jest wymagany!
</div>
</div>




      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="!myform.valid">Zapisz</button>
        <button type="button" #btnClose class="btn btn-outline-dark" (click)="c('Close click')">Anuluj</button>
      </div>
    </form>
  </div>
</ng-template>


<button type="button" class="btn btn-success" (click)="open(content)">Dodaj</button>
