<div class="col">
  <div class="row">
      <ngb-carousel>
          <ng-template ngbSlide>
            <img src="https://lonelyplanetwpnews.imgix.net/2017/11/central-park.jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="https://www.tapeciarnia.pl/tapety/normalne/248623_nowy_jork_central_park.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="https://bikerentalcentralpark.com/content/uploads/attractions/582ce3d9c47ad_ny_spring_119.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
  </div>




